.map-viewer-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.map-overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  box-shadow: inset 0 0 40px rgba(11, 15, 25, 0.8); /* Vignette effect */
}

/* Ensure mapbox canvas is rounded if container is rounded */
.mapboxgl-canvas {
  border-radius: 16px;
}
